:root {
    --blue-color: #25A0DB;
    --gray-color: #f6f8fa;
    --dark-gray-color: #e5e5e5;
}

.top-button-navs {
    display: flex;
    gap: 1rem;
}

.top-button-navs button:nth-child(3) {
    background-color: var(--orange-color);
    color: var(--white-color);
    box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.1);
    opacity: 100%;
}

.tob-bottom-div.month {
    padding-bottom: 0;
    padding-top: 1.5rem;
}

.left-side-div.month {
    gap: 3em;
    align-items: center;
}

.select-month-div,
.select-category-div {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.select-month-div p,
.select-category-div p {
    font-size: .87rem;
    font-weight: 700;
    opacity: .6;
}

.select-month-inner-div,
.select-category-inner-div {
    background-color: white;
    height: 2.25rem;
    min-width: 13.3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 12.5rem;
    padding: 0 .5rem;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
}

#month-display {
    font-size: .81rem;
    transition: transform 0.5s ease;
    font-weight: 400;
}

#select-element {
    width: 100%;
    border: none;
    outline: none;
    background-color: white;
    padding: .5rem 1rem .5rem 0;
}

button {
    background-color: transparent;
    border: none;
    outline: none;
    padding: 5px 10px;
    cursor: pointer;
}

.buttons-div.month button {
    border: none;
}

/** Monthly View Table Styling **/

.table-wrapper {
    padding: .25rem;
    background-color: white;
    border-radius: .75rem;
}

.calendar-table-month {
    background-color: white;
    border-collapse: collapse;
    border: 1px solid var(--dark-gray-color);
}

.calendar-table-month thead tr {
    height: 3rem;
    
}

.calendar-table-month thead tr th{
    background-color: white;
    text-align: center;
    font-size: .87rem;
    border-bottom: none !important;
    padding: .25rem !important;
}

.calendar-table-month tbody tr {
    height: 5.5rem;
}

.calendar-table-month tbody tr:first-child td {
    border-top: none !important;
}

.calendar-table-month tbody tr td {
    vertical-align: top;
    padding: .13rem;
}

.calendar-table-month .weekday {
    background-color: var(--gray-color);
    padding: 1rem 0;
    border-radius: .62rem;
}

.calendar-table-month .day-cell {
    position: relative;
    font-size: .62rem;
    line-height: .87rem;
}

.calendar-table-month .day {
    position: absolute;
    right: 1rem;
    font-size: .87rem !important;
    font-weight: 400;
}

.calendar-table-month .has-appt {
    background-color: #fff7e9;
    height: 5.5rem !important;
    width: 100%;
    padding: .5rem;
}