:root {
    --blue-color: #25A0DB;
    --gray-color: #f6f8fa;
    --dark-gray-color: #e5e5e5;
}

.tob-bottom-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0; /* 16px */
}

.report-filter-div {
    background-color: white;
    height: 2.2rem;
    display: flex;
    align-items: center;
    width: 14.3rem;
    justify-content: space-between;
    padding: .5rem 1rem;
    border-radius: 12rem;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
}

.report-filter-div input {
    border: none;
    outline: none;
    width: 100%;
}

.left-side-div {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.left-side-div p {
    font-size: .78rem;
    font-weight: 700;
    opacity: .6;
}

.buttons-div {
    display: flex;
    gap: 1rem;
}

.buttons-div button {
    display: flex;
    align-items: center;
    gap: .5rem;
    padding: .5rem 1rem;
    border-radius: 200px;
    border: 2px solid var(--blue-color);
    background-color: white;
    color: var(--blue-color);
    font-size: .75rem;
    font-weight: 600;
}

#reloadButton {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #CA8182;
    border-radius: 50%;
    width: 2.25rem;
    height: 2.25rem;
    padding: .8rem;
    border: none;
}

/* Table Styling */

.day-view-table-wrpper {
    padding: .25rem;
    background-color: white;
    border-radius: .75rem;
}

.appt-table-section {
    padding: 0 2rem;
}

table {
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
}
th, td {
    border: 1px solid #ddd;
    text-align: left;
    word-wrap: break-word;
    padding: .25rem;
}

thead {
    background-color: transparent !important;
}

/* table thead tr:first-child th div {
    width: 4.5rem;
} */

/* .column-name.time {
    width: 100%;
} */

.column-name {
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--gray-color);
    border-radius: .75rem;
    font-size: .87rem;
    font-weight: 700;
}

.second-col-hd {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    height: 2rem;
    margin: .5rem;
}

.second-col-hd p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.second-col-hd p .nums {
    opacity: 100% !important;
}

.second-col-hd .name {
    font-size: .68rem;
    font-weight: 600;
    opacity: .55;
}

/* Remove the bottom border from all th elements in the first row */
table thead tr:nth-child(1) th {
    border-bottom: none !important;
}

/* Remove the top border from all th elements in the second row */
table thead tr:nth-child(2) th {
    border-top: none !important;
}


table tbody tr:nth-child(1) td {
    border-bottom: none !important;
}

table tbody tr:nth-child(2) td {
    border-top: none !important;
}

table tbody tr:nth-child(2) td {
    border-bottom: none !important;
}

table tbody tr:nth-child(3) td {
    border-top: none !important;
}

table tbody tr:nth-child(3) td {
    border-bottom: none !important;
}

table tbody tr:nth-child(4) td {
    border-top: none !important;
}

table tbody tr:nth-child(4) td {
    border-bottom: none !important;
}

table tbody tr:nth-child(5) td {
    border-top: none !important;
}

table tbody tr:nth-child(5) td {
    border-bottom: none !important;
}

table tbody tr:nth-child(6) td {
    border-top: none !important;
}

table tbody tr:nth-child(6) td {
    border-bottom: none !important;
}

table tbody tr:nth-child(7) td {
    border-top: none !important;
}

.related-person-div {
    display: flex;
    gap: .5rem;
    padding: .5rem;
}

.related-person {
    height: 2.5rem;
    background-color: #FFF6E8;
    display: flex;
    align-items: center;
    padding: .5rem;
    border: 1px solid #F6E0BB;
    font-size: .68rem;
    font-weight: 400;
    line-height: .87rem;
}

.related-other-div {
    display: flex;
    gap: .5rem;
    padding: .5rem;
}

.related-other {
    height: 2.5rem;
    background-color: #EAEAEA;
    display: flex;
    align-items: center;
    padding: .5rem;
    border: 1px solid #CBCBCB;
    font-size: .68rem;
    font-weight: 400;
    line-height: .87rem;
}

/* related-person-div-second */
.related-person-second {
    width: 50% !important;
}
/* related-other-div-second */
.related-other-second {
    width: 50% !important;
}

.show-time {
    font-size: .75rem;
    font-weight: 600;
    display: flex;
    align-items: start;
    justify-content: start;
    gap: .12rem;
    height: 2rem;
}

.show-time sub {
    font-size: 11px;
}