:root {
    --border-yellow: #FBA919;
    --border-gray: #656868;
    --border-li-gray: #687ECE;
    --border-blue: #54A9BB;
    --button-bg-yellow: #F7EBD6;
    --button-bg-gray: #DFE1E3;
    --button-bg-li-gray: #DEE4F3;
    --button-bg-blue: #DEE9EE;
    --button-p-color: #737373;
    --tabel-bg: #F6F8FA;
    --dark-gray-color: #e5e5e5;
}

/* Nav Section */
nav {
    width: 4.4% !important;
    padding: 1rem .5rem !important;
}

main {
    width: 95.6% !important;
}

.scheduling-nav-con {
    background-color: transparent !important;
    border-radius: .87rem;
    margin: 0 0 .25rem 0;
  }
  
  .scheduling-nav .scheduling-button {
    justify-content: center;
    background-color: transparent !important;
  }
  
  .scheduling-nav .scheduling-button span {
    font-size: .87rem;
    line-height: 2rem;
  }
  
  .scheduling-nav-inner-div {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-bottom: .25rem;
  }
  
  .scheduling-nav-inner-div button {
    padding: 0;
    justify-content: center;
  }
  
  .scheduling-nav-inner-div button span {
    font-size: .75rem;
  }
  
  .has-bottom {
    position: relative;
  } 
  
  .has-bottom::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    height: .5px;
    width: 90%;
    background-color: rgba(255, 255, 255, .08);
  }
  
  .scheduling-nav-inner-div button:hover {
    background: var(--dark-color);
    border-radius: .87rem;
  }

  .crm-nav {
    background-color: var(--nav-bg-color) ;
    border-radius: .87rem;
    margin: 0 0 .25rem 0;
  }

  .crm-nav-con .scheduling-nav-inner-div button img {
    width: 1rem;
  }

  /* .crm-nav-con .scheduling-nav-inner-div button:hover {
    background: var(--dark-color);
  }  */

  .filter-Icon {
    width: .8rem;
  }

  .crm-nav-con {
    width: 100%;
  }

  .scheduling-nav-inner-div a  {
    padding: 1rem;
  }

  .crm-nav-con .scheduling-button {
    /* background-color: var(--blue-color); */
    border-radius: .87rem;
  }

.crm-nav-con button,
.dirve-nav-con button,
.marketing-nav-con button,
.dnc-nav-con button,
.settings-nav-con button,
.logout-nav-con button {
  padding: 0;
  justify-content: center;
}

.scheduling-nav .scheduling-button img,
.crm-nav-con button img,
.dirve-nav-con button img,
.marketing-nav-con button img,
.dnc-nav-con button img,
.settings-nav-con button img,
.logout-nav-con button img{
  width: 1.4rem;
}

.crm-nav-con button:hover,
.dirve-nav-con button:hover,
.marketing-nav-con button:hover,
.dnc-nav-con button:hover,
.settings-nav-con button:hover,
.logout-nav-con button:hover {
  background-color: var(--nav-bg-color);
  border-radius: .87rem;
 }

/* Main Section */

.main-section-buttons-div .main-section-button-search {
    background-color: var(--dark-gray-color) !important;
    color: var(--dark-color) !important;
    opacity: .6;
    box-shadow: 0 0.0625rem 0.125rem rgba(0, 0, 0, 0.1); /* 1px 2px */
  }

.main-section-buttons-div .main-section-button-tasks {
  background-color: var(--orange-color);
  color: var(--white-color);
  box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.1); /* 1px 2px */
}

/**-- Tasks Category Section Buttons --**/

.tasks-category-section,
.tasks-tabel-section {
    padding: 0 2rem;
}

.tasks-category-section {
    height: 5rem;
}

.tasks-category-section .active-tasks {
    border: 1px solid var(--border-yellow) !important;
    background-color: var(--button-bg-yellow);
}

.tasks-category-section .pending-tasks {
    border: 1px solid var(--border-gray) !important;
    background-color: var(--button-bg-gray);
}

.tasks-category-section .completed-tasks {
    border: 1px solid var(--border-li-gray) !important;
    background-color: var(--button-bg-li-gray);
}

.tasks-category-section .total-tasks {
    border: 1px solid var(--border-blue) !important;
    background-color: var(--button-bg-blue);
}

.tasks-category-section .active-tasks,
.tasks-category-section .pending-tasks,
.tasks-category-section .completed-tasks,
.tasks-category-section .total-tasks {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 1rem;
    border-radius: .75rem;
}

.tasks-category-section .active-tasks p,
.tasks-category-section .pending-tasks p,
.tasks-category-section .completed-tasks p,
.tasks-category-section .total-tasks p {
    color: var(--button-p-color);
    font-weight: 700;
    font-size:.875rem;
}

.tasks-category-section .active-tasks span,
.tasks-category-section .pending-tasks span,
.tasks-category-section .completed-tasks span,
.tasks-category-section .total-tasks span {
    color: #000;
    font-size: 1.125rem;
    font-weight: 700;
}

.total-tasks-show {
    padding: 1rem 2rem;
}

.total-tasks-show p {
    font-size: .87rem;
    color: #000;
    opacity: .6;
    font-weight: 700;
}

/**** Tasks Table Styling ****/

.tasks-tabel-section table thead tr{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    padding: 1rem 0;
    border-radius: .65rem !important;
}
.tasks-tabel-section table tbody tr{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    padding: 1rem 0;
    border-bottom: 1px solid var(--dark-gray-color);
}

table {
    width: 100%;
    background-color: #fff !important;
    border-radius: .75rem;
    padding: .1875rem;
}

thead {
    background-color: var(--tabel-bg) !important;
}

th, td {
    padding: 0 1rem;
    text-align: left;
}

.filter-container {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.filter-input-div {
    display: flex;
    background-color: #fff;
    height: 2rem;
    border-radius: .625rem;
    padding: 0 .5rem;
}

.th-name {
    font-size: 0.625rem;
    font-weight: 700;
    line-height: 16px;
    margin-bottom: .5rem;
}

.filter-input {
    width: 100%;
    padding: 4px;
    font-size: 14px;
    border: none;
    outline: none;
    border-radius: 4px;
    border-right: 1px solid #eee;
    margin-right: 4px;
}

tbody tr td {
    font-size: 0.8125rem;
    color: #000;
    font-weight: 400;
}

.hidden {
    display: none;
}