:root {
    --border-yellow: #FBA919;
    --border-gray: #656868;
    --border-li-gray: #687ECE;
    --border-blue: #54A9BB;
    --button-bg-yellow: #F7EBD6;
    --button-bg-gray: #DFE1E3;
    --button-bg-li-gray: #DEE4F3;
    --button-bg-blue: #DEE9EE;
    --button-p-color: #737373;
}

.main-section-buttons-div .main-section-button-search {
    background-color: var(--dark-gray-color) !important;
    color: var(--dark-color) !important;
    opacity: .6;
    box-shadow: 0 0.0625rem 0.125rem rgba(0, 0, 0, 0.1); /* 1px 2px */
  }

.main-section-buttons-div .main-section-button-tasks {
  background-color: var(--orange-color);
  color: var(--white-color);
  box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.1); /* 1px 2px */
}

/**-- Tasks Category Section Buttons --**/

.tasks-category-section,
.tasks-tabel-section {
    padding: 0 2rem;
}

.tasks-category-section {
    height: 5rem;
}

.tasks-category-section .active-tasks {
    border: 1px solid var(--border-yellow) !important;
    background-color: var(--button-bg-yellow);
}

.tasks-category-section .pending-tasks {
    border: 1px solid var(--border-gray) !important;
    background-color: var(--button-bg-gray);
}

.tasks-category-section .completed-tasks {
    border: 1px solid var(--border-li-gray) !important;
    background-color: var(--button-bg-li-gray);
}

.tasks-category-section .total-tasks {
    border: 1px solid var(--border-blue) !important;
    background-color: var(--button-bg-blue);
}

.tasks-category-section .active-tasks,
.tasks-category-section .pending-tasks,
.tasks-category-section .completed-tasks,
.tasks-category-section .total-tasks {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 1rem;
    border-radius: .75rem;
}

.tasks-category-section .active-tasks p,
.tasks-category-section .pending-tasks p,
.tasks-category-section .completed-tasks p,
.tasks-category-section .total-tasks p {
    color: var(--button-p-color);
    font-weight: 700;
    font-size:.875rem;
}

.tasks-category-section .active-tasks span,
.tasks-category-section .pending-tasks span,
.tasks-category-section .completed-tasks span,
.tasks-category-section .total-tasks span {
    color: #000;
    font-size: 1.125rem;
    font-weight: 700;
}

.total-tasks-show {
    padding: 1rem 2rem;
}

.total-tasks-show p {
    font-size: .87rem;
    color: #000;
    opacity: .6;
    font-weight: 700;
}

/**** Tasks Table Styling ****/



