/* Nav Section */
/* .sidebar-only-icon {
    width: 4.4% !important;
    padding: 1rem .5rem !important;
}

.icon-only-menu {
  justify-content: center;
}

.icon-only-sub-menu {
  padding: 1rem !important;
}

.hidden {
  display: none;
} */

/** Crm tasks Main Section **/

/* main {
    width: 95.6% !important;
} */

/* Main Section */

