:root {
    --blue-color: #25A0DB;
    --gray-color: #f6f8fa;
    --dark-gray-color: #e5e5e5;
}

.main-section-buttons-div {
    justify-content: space-between;    
}

.add-message-button-div {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.add-message-button-div a {
    display: flex;
    align-items: center;
    color: var(--blue-color);
    gap: 1rem;
    text-decoration: none;
    font-size: .87rem;
    font-weight: 600;
}

.campaign-section {
    padding: 0 2rem;
    display: flex;
    /* gap: 2rem; */
}

.show-campaign-step,
.campaign-div {
    background-color: white;
}

.steps-container {
    width: 15.71%;
}

/* Steps style start */

.steps-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    background-color: white;
    padding: 1rem;
    border-radius: .75rem;
    max-height: 14.5rem;
  }

  .steps-container::before {
    content: '';
    position: absolute;
    top: .5rem;
    left: .7rem;
    width: 2px;
    height: 80%;
    background-color: var(--dark-gray-color);
    margin: 1rem;
  }

  .step {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    position: relative;
  }

  .step:last-child {
    margin-bottom: 0;
  }

  .step-number {
    width: 1.5rem;
    height: 1.5rem;
    background-color: var(--dark-gray-color);
    color: #737373;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .75rem;
    font-weight: 500;
    position: relative;
    border: 3px solid white;
    cursor: pointer;
  }

  .step-number:hover{
    border: 2px solid var(--blue-color);
  }

  .step-number.active-step-number {
    background-color: var(--blue-color);
    color: white
  }

  .step.active-step:hover .active-step-number {
    border: 2px solid var(--blue-color);
  }

  .step-name {
    font-size: .75rem;
    font-weight: 500;
    color: #737373;
    margin-left: .5rem;
    cursor: pointer;
  }

  .step-name.active-step-name {
    color: #000;
    font-weight: 700;
  }

/* Steps style end */

.campaign-div {
    width: 84.29%;
    margin-left: 2rem;
    border-radius: .75rem;
    padding: 1.5rem;
}

.information-div {
    width: 35rem;
    margin-bottom: 1rem;
}

.information-div h1 {
    font-size: 1.25rem;
    font-weight: 700;
}

.message-type-div {
    display: flex;
}

.message-type-div button{
    height: 2.5rem;
    padding: 0 1.5rem;
    background-color: transparent;
}

.current-message {
    font-size: .75rem;
    font-weight: 700;
    color: #999999;
    border: none;
}

.previous-message {
    font-size: .75rem;
    font-weight: 700;
    color: var(--blue-color);
    border: none; /* Remove default borders */
    border-top: 1px solid var(--dark-gray-color); /* Apply top border */
    border-left: 1px solid var(--dark-gray-color); /* Apply left border */
    border-right: 1px solid var(--dark-gray-color); /* Apply right border */
    border-radius: .75rem .75rem 0 0; /* Round top-left and top-right corners */
}

/* Table Styling */
.generateCrm-table {
    width: 100%;
    border-collapse: separate; /* Allow border-radius to work */
    border-radius: .75rem !important;
    padding: 0.25rem;
    border: 1px solid var(--dark-gray-color);
    overflow: hidden; /* Clip content to respect border-radius */
    background-color: #fff; /* Optional to prevent cell backgrounds showing */
}

.generateCrm-table thead tr {
    height: 5.2rem;
}

.generateCrm-table tbody tr {
    height: 3rem;
}

tr {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid var(--dark-gray-color);
}

.generateCrm-table td {
    background-color: inherit;
    border-bottom: 1px solid var(--dark-gray-color);
}


    /* Set column widths */
    .generateCrm-table th:nth-child(1), 
    .generateCrm-table td:nth-child(1) {
        width: 38.58%;
    }

    .generateCrm-table th:nth-child(2), 
    .generateCrm-table td:nth-child(2) {
        width: 23.62%;
    }

    .generateCrm-table th:nth-child(3), 
    .generateCrm-table td:nth-child(3) {
        width: 23.62%;
    }

    .generateCrm-table th:nth-child(4), 
    .generateCrm-table td:nth-child(4) {
        width: 14.17%;
    }